  nav {
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: rgb(174, 202, 193);
    gap: 30px;
    padding-right: 5%;
  }
  
  nav > a {
    text-decoration: none;
    color: white;
    transition: all 0.3s;
  }
  
  nav a:hover {
    color: #1e26b5;
  }


