.recipe {
    width:32%;
    height: auto;
    border: 1px solid #8c8b8b;
    border-radius: .5rem;
    margin-bottom: 50px;
    box-shadow: .1em .1em 0.5em rgb(194, 194, 194);
}

.label {
    font-size: 20px;
}

.ingredient {
    text-align: left;
    list-style-type: disc;
    /* color:aqua; */

};
